* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  padding: 2rem;
  background: #022022;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2.5rem;
}
.port {
  background: #000;
  min-height: 450px;
  text-align: center;
}
.port-principal {
  padding: 3rem;
}
.img-port {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}
.port-principal h2 {
  font-size: 1.5rem;
  color: red;
}
.color-sobre {
  color: white;
  background: #1b1b32;
}
.sobre-mi {
  height: 500px;
  padding: 10px;
}
.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .navbar-brand {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .port-inf {
    max-width: 600px;
  }
}
